.accordion {
  width: 100%;
  padding-bottom: 10px;
}

* {
  font-size: 85%;
}

.nav-anchor {
  font-family: Arial, sans-serif !important;
  font-size: 95%;
}

div {
  padding-bottom: 10px;
}

.post-meta {
  font-style: normal !important;
}

#find-out-more {
  background-color: purple;
  border-radius: 20px;
  width: 20%;
}

.moving-container {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  padding: 10px;
  z-index: 1; /* added z-index property to ensure the container is displayed on top */
  background-color: rgba(22, 21, 56, 0.95) !important;
}

.donate-button {
  background-color: maroon;
  color: white;
  border: none;

  display: inline-block;
  border-radius: 25px;
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; /* increased line-spacing */
  z-index: 2;
  padding: 15px 20px;
  font-weight: bold;
  width: 15%;
}

.progress-bar {
  background-color: maroon;
  color: white;
  border: none;

  display: inline-block;
  border-radius: 25px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 16px;
  line-height: 1.5; /* increased line-spacing */
  z-index: 2;
  padding: 15px 20px;
  font-weight: bold;
}

body {
  background-color: rgba(22, 21, 56, 0.95) !important;
  border: 1px solid white;
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.white-text,
.post-meta {
  color: rgb(255, 255, 255) !important;
}

form {
  background-color: rgba(22, 21, 56, 0) !important;
}

.accordion-button,
.accordion-collapse,
.form-control {
  color: white;
  background-color: black !important;
}

.card {
  background-color: rgba(22, 21, 56, 0) !important;
}

.accordion-item,
.accordion-header {
  padding-bottom: 0px;
}

@media only screen and (max-width: 1000px) {
  #mainNav {
    background-color: rgba(100, 100, 100, 0.65) !important;
  }

  .donate-button {
    border-radius: 15px;
    font-family: "Comic Sans MS", Arial, sans-serif !important;
    font-size: 12px;
    line-height: 1.25; /* increased line-spacing */
    padding: 10px 15px;
    width: 30%;
  }

  #find-out-more {
    background-color: purple;
    border-radius: 15px;
    width: 50%;
  }

  #mainNav {
    background-color: rgba(22, 21, 56) !important;
  }

  .home-faq {
    font-size: 10px !important;
  }

  * {
    font-size: 95% !important;
  }
}

.white-col {
  border: 1px solid white;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

h2 {
  font-size: 1.75rem !important;
  color: #ff4c4c;
}

h3 {
  font-size: 1.5rem !important;
  color: #ff4c4c;
}

p,
button,
form,
.normal-text,
ul,
li {
  color: rgb(255, 255, 255) !important;
}

.accordion-body {
  font-size: 13px;
}

.home-faq:hover {
  color: #ff4c4c !important;
}

p,
.normal-text,
input,
.form-check,
form,
label,
ul,
li {
  font-size: 13px;
}

.form-label {
  font-size: 13px !important;
}

.row-section {
  padding-top: 0px;
  margin-top: 0px;
}
.col-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px 0;
}
.text-section {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.active {
  background-color: green;
}
